*{
    margin: 0 auto;
}
.topnav {
    overflow: hidden;
    background-color: #161a1d;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
} 
.topnav a.active {
    background-color: red;
    color: white;
}
.topnav .login-container {
    float: right;
} 
.topnav input[type=text], .topnav input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px;
} 
.topnav .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
} 
.topnav .login-container button:hover {
    background: #ccc;
}
.search input[type=text] {
    width: 130px;
    height: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;    
}
.search{
    background-color: gray;
}
.search input[type=text]:focus {
    width: 100%;
}
.tab ul{
    list-style: none;
    padding-left: 0;
    background-color: #161a1d;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}
.tab ul li{
    float: left;
    width: 16.66%;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
}
.tab ul li a{
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
}
.tab ul li a:hover{
    background-color: red;
}
.tab .active{
    background-color: red;
}
.welcome{
    background-image: url(streaming/1.jpg);
    height: 650px;
}
.welcome h1{
    color: white;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    padding-top: 300px;
}
.mic{
    background-color: #161a1d;
}
.x01{
    background-image: url(streaming/x01.jpg);
}
.mc20{
    background-image: url(streaming/mc20.jpg);
}
.x01 , .mc20{
    float: left;
    height: 600px;
    width: 50%;
}
.mic h1{
  
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
}
.x01 p{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    padding-left: 120px;
    padding-top: 50px;
    display: inline-block;
}
.x01 a{
    color: white;
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    padding-right: 130px;
    padding-top: 50px;
}
.x01 a:hover{
    color: red;
}
.mc20 p{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    padding-left: 120px;
    padding-top: 50px;
    display: inline-block;
}
.mc20 a{
    color: white;
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    padding-right: 130px;
    padding-top: 50px;
}
.mc20 a:hover{
    color: red;
}
.cam{
    background-color: #161a1d;
}
.c30{
    background-image: url(streaming/c30.jpg);
}
.ac3000{
    background-image: url(streaming/ac3000.jpg);
}
.c30 , .ac3000{
    float: left;
    height: 600px;
   width: 50%;
}
.cam h1{
  
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
}
.c30 p{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    padding-left: 120px;
    padding-top: 50px;
    display: inline-block;
}
.c30 a{
    color: white;
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    padding-right: 130px;
    padding-top: 50px;
}
.c30 a:hover{
    color: red;
}
.ac3000 p{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    padding-left: 120px;
    padding-top: 50px;
    display: inline-block;
}
.ac3000 a{
    color: white;
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    padding-right: 130px;
    padding-top: 50px;
}
.ac3000 a:hover{
    color: red;
}
.end{
    background-color: #161a1d;
}
.end p{
    text-align: center;
    padding-bottom: 30px;
    color: white;
    font-size: 15px;
    font-family: 'Alfa Slab One', cursive;
}
.end a{
    text-decoration: none;
    color: white;
    padding-left: 380px;
    line-height: 130px;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
}
.end a:hover{
    color: red;
}